{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add new book {% endblock %} </h1>

    <form method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title"
                   placeholder="Hitchhiker's guide to the galaxy" class="form-control"
                   value="{{ request.form['title'] }}"/>
        </div>

        <div class="form-group">
            <label for="number_of_pages">Number of pages</label>
            <input type="number" name="number_of_pages"
                   placeholder="42" class="form-control"
                   value="{{ request.form['number_of_pages'] }}"/>
        </div>

        <div class="form-group">
            <label for="review">Book review</label>
            <textarea name="review" placeholder="Don't panic"
                      class="form-control">{{ request.form['review'] }}</textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}
