{% extends 'base.html' %}
{% import "helpers/forms.html" as forms %}

{% block content %}
    <h1 class="text-center">{% block title %} Add new book {% endblock %} </h1>

    {{ super() }}
    <form action="{{ url_for('books.add_book') }}" method="POST">
        {{ forms.render(form) }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <a href="{{ url_for('books.add_author', return='books.add_book') }}">
        <button type="button" class="btn btn-warning">Add new author</button>
    </a>

{% endblock %}
