{% extends 'base.html' %}
{% block content %}
    <h2 class="text-center">{% block fio %} {{ author.fio }} {% endblock %}</h2>
    <p class="text-center"><span class="badge badge-primary">Author added to database at {{ author.created }}</span></p>
    <p class="text-center">ISBN: {{ author.isbn }}</p>
    {% if current_user.is_authenticated %}
        {% if current_user.id == author.user_id %}
            <a href="{{ url_for('books.edit_author', author_id=author.id) }}">
                <button type="button" class="btn btn-warning">Edit</button>
            </a>
        {% endif %}
    {% endif %}
    <hr>
    {% for book in author.books %}
        <a href="{{ url_for('books.book_page', book_id=book.id) }}">
            <h2>{{ book.title }}</h2>
            <p>{{ book.isbn }}</p>
            <p>Book has {{ book.number_of_pages }} pages</p>
        </a>
        <span class="badge badge-primary">Book added to database at {{ book.created }}</span>
        <hr>
    {% endfor %}
{% endblock %}